#protocol-explained {
  background-color: #36969f;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  background-image: none;
}

.carousel-control-next-icon:after {
  content: ">";
  font-size: 55px;
  color: black;
}

.carousel-control-prev-icon:after {
  content: "<";
  font-size: 55px;
  color: black;
}

#token-generation-event {
  background-image: url("images/token-generation bg.png");
}

.right-side {
  float: right;
}

.token-generation {
  width: 50%;
}
